body {
    background-color: black;
}

.intro-paragraph {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   line-height: 20px; 
   
   
}
.slogan-paragraph {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    line-height: 15px;
    
}

.paragraph-line {
    display: block;
}
.paragraph-line2 {
    display: block;
}

.container-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    mar

}